.item-container {
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}
.item-list {
  background-color: #0a3131;
  list-style: none;
  padding: 100px 50px 100px 50px;
  border: 5px solid;
  border-color: #135858;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.debug-button {
  background-color: #f9f9f9;
  border: 1px solid;
  display: flex;
  align-self: flex-end;
}

.debug-button:hover {
  background-color: #ccc;

}

