.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;
    
}
.form {
    width: 50%;
    align-items: center;
    background-color: rgb(10, 49, 49);
    padding: 0px 50px 50px;
    border: 5px solid;
    border-color: rgb(19, 88, 88);
    border-radius: 20px;
}

.add-form {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a3131;
    padding: 0px 50px 50px;
    border: 5px solid;
    border-color: rgb(19, 88, 88);
    border-radius: 20px;
}
.add-form-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box-container{
    width: 80%;
    display: flex;
    justify-content: center;
}
/* .add-form-input-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} */
.add-form-item-value {
    min-width: 40%;
    padding: 5px;
    margin: 8px 20px;
    background-color: #104d4d;
    color: #c4c4c4;
    border: 2px solid;
    border: 4px;
}
.add-form-item-key {
    text-align: end;
    width: 100%;
    padding: 5px;
    margin: 8px 20px;
    border: 1px solid;
    border: 4px;
    
}
.save-button {
    font-weight: bold;
    background-color: #e6c07b;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #635335;
    border-radius: 8px;
}
.save-button:hover {
    background-color: #a18757;
    cursor: pointer;
}
.form-item {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid;
    border: 4px;
    box-sizing: border-box;
}
.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 4px;
}
.submit-button:hover {
    background-color: #ccc;
    cursor: pointer;
}