.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 95vh;
    
}
.form {
    width: 50%;
    align-items: center;
    background-color: rgb(10, 49, 49);
    padding: 0px 50px 50px;
    border: 5px solid;
    border-color: rgb(19, 88, 88);
    border-radius: 20px;
}
.form-item {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #ffffff;
    display: inline-block;
    border: 1px solid;
    border: 4px;
    box-sizing: border-box;
}
.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 4px;
}
.submit-button:hover {
    background-color: #ccc;
    cursor: pointer;
}