.table-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-box-container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.search-box-label{
    font-weight: bold;
    font-size: large;
    color: #c4c4c4;
}
.search-box{
    margin-top: 5px;
    padding: 5px;
    border: 1px;
    border-radius: 3px;
}
.table-actions-container{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.table-style {
    width: 80%;
    padding: 30px;
    border-collapse: collapse;
}
.table-head {
    background-color: #757575;
    border-bottom: 2px solid;
    border-color: #444444;

}
.table-head-items {
    text-align: left;
    padding: 15px;
}
.table-item {
    text-align: left;
    padding: 10px;
    color: aliceblue;
}
.table-tr {
    border-bottom: 2px solid;
    border-color: #135858;
    background-color: #0a3131;
}
.table-tr:hover {
    background-color: #0e4444;
}
.add-button {
    align-self: center;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #e6c07b;
    padding: 5px 10px;
    border: 2px solid #635335;
    border-radius: 8px;
}
  
.add-button:hover {
    background-color: #a18757;
}

.remove-button {
    align-self: center;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #e6c07b;
    padding: 5px 10px;
    border: 2px solid #635335;
    border-radius: 8px;
}

.remove-button:hover {
    background-color: #7e6538;
    cursor: pointer;
}
.remove-button + .remove-button {
    margin-left: 5px;
}
.link-style {
    text-decoration: none;
    color: aliceblue
}

.link-style:hover {
    text-decoration: none;
    color: rgb(94, 180, 255)
}